/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html{
  height: 100%;
  background-color: #070707;
  padding-bottom: 400px;
}
 #main{
   background-color: #070707;
   
 }

p{
  color: aliceblue;
  font-size: 2rem;
}
td{
  color: aliceblue;
}

 footer {
  width: 100%;
  background-color:#f108cb;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.blog_new{
  margin: 0 auto;
}

.a{
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

h1{
  margin: 0 auto;
  text-align: center;
  color: #f108cb;
}
.blog_wrapper{
width: 70%;
}

.actions{
  padding-bottom: 1.5rem;
}

.bbb{
  color: aliceblue;
  font-size: 1rem;
}